body {
  margin: 30%;
  margin-top: 10%;
  background-color: #f4f4f4;
}

@media screen and (max-width: 700px) {

body {
  margin: 8%;
  margin-top: 25%;
  }

  div.about {
    width: 100%;
  }
}

/* HOME */

div.home {
  width: 90%;
  text-align: left;
}

  .home h1 {
    font-family: "aglet-mono", mono;
    font-weight: 300;
    font-style: italic;
    color: #dc9a9a;
    font-size: 16px;
  }

  .home h2 {
    font-family: "aglet-mono", mono;
    font-weight: 300;
    font-style: italic;
    color: #858585;
    font-size: 16px;
  }

  .home h3 {
    font-family: "aglet-mono", mono;
    font-weight: 300;
    font-style: italic;
    color: #f4f4f4;
    font-size: 16px;
  }

  .home h4 {
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #7aa687;
    font-size: 20px;
    text-align: center;
  }

  .home p1 {
    font-family: "aglet-mono", mono;
    font-weight: 300;
    color: #dc9a9a;
    font-size: 14px;
  }

  .home p2 {
    font-family: "span", serif;
    font-weight: 300;
    color: #898e76;
    font-style: normal;
    font-size: 16px;
  }

  .home p3 {
    font-family: "span", serif;
    font-weight: 400;
      color: #898e76;
    font-style: italic;
    font-size: 16px;
  }

  .home a {
    font-family: "span", serif;
    font-weight: 600;
    color: #181818;
    font-size: 16px;
    text-decoration: underline;
  }

  .responsive {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/* collapsible */

.collapsible {
  background-color: #181818;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:hover {
  background-color: #161616;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #181818;
}
